@import '../../node_modules/bulma/bulma.sass';
.inputParameter {
  margin-left: 20px;
  border-radius: 12px;
  margin-bottom: 12px;
}
.buttons {
  padding-left: 25px;
}
.totalHours{
  padding-left: 25px;
  margin-top: 15px
}
.is-danger{
  margin-left: 10px
}
.itemList{
  background-color: '#276CDA'
}